
*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

a 
  text-decoration: none
  cursor: pointer

  &:hover
    transition: .4s ease
    color: beige

  &:active
    transition: .4s ease
    color: cadetblue

#ru,
#us,
#radioLab
  cursor: pointer

html
  background-color: rgba(136, 169, 196, 0.815)

body
  font-family: 'Balsamiq Sans', cursive
  position: relative

main
  max-width: 1200px
  margin: 0 auto
  display: grid
  grid-template-rows: 80px 1fr 54px 210p
  grid-template-columns: .8fr 1fr .8fr

.left,
.right
  padding-top: 40px

.left
  grid-row: 2/3
  grid-column: 1/2

.container
  grid-row: 2/3
  grid-column: 2/3

.right
  grid-row: 2/3
  grid-column: 3/4

.hiden
  overflow: hidden

h1,
.titleH2,
h3
  text-align: center

h1
  color: chocolate

h2
  font-stretch: expanded
  font-size: xx-large
  color: rgba(48, 41, 107, 0.644)