
.container
  overflow: hidden
  grid-row: 2/3
  grid-column: 2/3
  position: relative
  border: 4px solid $border
  margin: 30px
  display: grid
  grid-template: repeat(20, 20px) / repeat(20, 20px)
  grid-auto-flow: row
  width: 408px
  height: 408px

.kub
  width: 20px
  height: 20px
  background-color: $pole
  transition: all .1s ease

.kub_activ
  background-color: $bodySnake
  transition: all .1s ease

.heads
  background-color: brown
  transition: all .1s ease

.food
  background-color: $colorFood

@media (max-width: 425px)
  .kub
    width: 15px
    height: 15px
    background-color: $pole
    transition: all .1s ease

  .kub_activ
    background-color: $bodySnake
    transition: all .2s ease

  .food
    background-color: $colorFood

  .container
    grid-row: 2/3
    grid-column: 1/end
    position: relative
    margin: 5% auto
    display: grid
    grid-template: repeat(20, 15px) / repeat(20, 15px)
    grid-auto-flow: row
    width: 308px
    height: 308px