
.header
  grid-row: 1 / 2
  grid-column: 1 / end
  background-color: $header
  border-radius: 5px
  display: grid
  grid-template: 70px / .8fr .5fr .5fr .8fr
  position: relative

.logotip
  height: 52px
  width: 150px
  background-image: url(../img/logotip.png)

.logo
  grid-column: 1 / 2

.title,
.titleH2
  grid-column: 2 / 3

.language
  grid-column: 3 / 4
  
.info
  grid-column: 4 / 5

label,
a
  font-size: 20px
  color: $bodySnake

.points_snake
  grid-row: 6/7
  grid-column: 2/3
  display: flex
  justify-self: start
  color: $btnColor

.points_result
  grid-row: 6/7
  grid-column: 2/3
  display: flex
  justify-self: end
  color: $btnColor

.record_mob
  padding-right: 15px


.logo,
.language,
.mob_menu,
.record_mob,
.info
  align-self: center
  justify-self: center

.title
  align-self: center

@media (max-width: 425px)
  .header
    max-height: 55px
    background-color: $header
    display: grid
    grid-template-rows: 54px
    grid-template-columns: .5fr .5fr .3fr
    position: relative

  .logo
    justify-content: center
    margin-left: 10px
    grid-row: 1/2
    grid-column: 1/2

  .logotip
    height: 28px
    width: 80px
    background-image: url(../img/mini_logotip.png)

  .titleH2
    justify-content: center
    grid-row: 1/2
    grid-column: 2/3

  .language,
  .info
    display: none

  .record_mob
    grid-row: 5/6
    grid-column: 3/4

  .mob_rec,
  .ochKi,
  .resUlt,
  .zmi,
  .lenSnake
    color: $btnColor
    font-size: 1em