
.for_btn
  position: relative

.btnStart,
.btnStop
  display: block
  margin-top: 6px
  margin-left: auto
  width: 100px
  height: 28px
  background-color: darkkhaki
  border: 1px solid black
  border-radius: 3px
  font-family: 'Anton', sans-serif
  font-size: 18px
  &:hover
    background-color: rgb(224, 228, 166)
  &:active
    background-color: rgb(219, 175, 109)
    transition: all 0.5s

#enter
  margin-bottom: 50px
  width: 100px
  height: 28px
  text-align: center
  background-color: rgb(124, 209, 198)
  border: 1px solid black
  font-size: 18px
  display: block
  margin-left: auto