
.rec
  margin-left: 12px

.sub_mobMenu
  position: absolute
  display: block
  padding: 10px 10px
  text-align: center
  z-index: 10
  width: 45%
  height: 40%
  left: -100%
  top: 60px
  border-radius: 5px
  background-color: $subMenu
  transition: all .4s ease

.sub_active
  left: 0px
  transition: all .4s ease

.s_menu
  color: $colorTitle
  cursor: pointer
  margin: 20px 10px
  font-size: 1.2em

.block_m
  display: block

.noVisible
  display: none

@media (max-width: 425px)
  .mob_menu
    grid-row: 1/2
    grid-column: 3/4
    z-index: 3
    display: block
    position: relative
    width: 30px
    height: 18px
    cursor: pointer
    &::after,
    &::before
      content: ""
    &::after
      bottom: 0
    &::before
      top: 0

  .mob_menu span,
  .mob_menu::before,
  .mob_menu::after
    left: 0
    position: absolute
    height: 10%
    width: 100%
    transition: all .3s ease 0s
    background-color: $bodySnake

  .mob_menu span
    top: 50%
    transform: scale(1) translate(0px, -50%)

  .mob_menu._active
    span
      transform: scale(0) translate(0px, -50%)
    &::before
      top: 50%
      transform: rotate(-45deg) translate(0px, -50%)
    &::after
      top: 50%
      transform: rotate(45deg) translate(0px, -50%)

  .points_snake
    justify-self: center
    align-self: center
    grid-row: 5/6
    grid-column: 1/2

  .points_result
    justify-self: center
    align-self: center
    grid-row: 5/6
    grid-column: 2/3