

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  max-width: 1200px;
  background-color: rgba(136, 169, 196, 0.815);
  margin: 0 auto;
}

h1{
  color: chocolate;
  text-align: center;
}
.main {
  display: flex;
  justify-content: center;
}
.left,.right {
  padding-top: 40px;
}
label {
  font-size: 20px;
  color: brown;
}
.container {
  position: relative;
  margin: 30px; 
  display: grid;
  grid-template: repeat(20, 20px) / repeat(20,20px);
  grid-auto-flow: row;
  width: 400px;
  height: 400px;
}
.kub {
  width: 20px;
  height: 20px;
  background-color: rgb(131, 182, 116);
  transition: all .1s ease;
}
.kub_activ {
  background-color: darkcyan;
  transition: all .2s ease;
}
.heads {
  background-color: brown;
}
.food {
  background-color: rgb(20, 136, 49);
}
.btnStart,
.btnStop,
.btnCont,
.horizont,
.vertikal {
  display: block;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 22px;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius:  3px;
  font-size: 18px;
}
.btnStart:hover,
.btnCont:hover,
.btnStop:hover {
  background-color: rgb(224, 228, 166);
}
.btnStart:active, .btnStop:active {
  background-color: rgb(219, 175, 109);
  transition: all 0.5s;
}
.for_btn {
  position: relative;
}
td, tr {
  height: 20px;
  width: 20px;
}
.over {
  position: absolute;
  background-color: rgb(135, 190, 207);
  border: 2px solid black;
  border-radius:  5px;
  padding: 10px;
  width: 100%;
  top: 40%;
  left: 0;
  opacity: 0;
}
.over_active {
  animation-duration: 1.5s;
  animation-name: vizi;
  opacity: 1;
}
  @keyframes vizi {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

