

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  transition: .4s ease;
  color: beige;
}
a:active {
  transition: .4s ease;
  color: cadetblue;
}
#ru, #us,#radioLab {
  cursor: pointer;
}

html {
  max-width: 1200px;
  background-color: rgba(136, 169, 196, 0.815);
  margin: 0 auto;
}
body {
  font-family: 'Balsamiq Sans', cursive;
}
main {
  display: grid;
  grid-template-rows: 80px 20px 60px 100px 240px 20px 80px ;
  grid-template-columns: repeat(7, 1fr);
}
.info {
  position: relative;
}
.wind_info {
  position: absolute;
  top: -250px;
  left: -154px;
  width: 250px;
  height: 180px;
  border-radius: 6px;
  padding: 15px 10px 0 15px;
  color: bisque;
  transition: .7s ease;
  background-color: rgba(116, 147, 231, 0.781);
}
.wind_info_active {
  top: 55px;
  transition:  .7s ease;
}
tr,td,th {
  border: 1px solid black;
  margin: 4px;
  height: 28px;
  width: 50px;
  text-align: center;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  background-color: rgba(116, 101, 156, 0.548);
  border-radius: 5px;
  display: grid;
  grid-template: 80px / repeat(7, 1fr);
}
.logo {
  /* grid-row: 1 / 2; */
  grid-column: 1 / 2;
}
.title,.titleH2 {
  /* grid-row: 1 / 2; */
  grid-column: 2 / 3;
}
.points_snake {
  /* grid-row: 1 / 2; */
  grid-column: 3 / 4;
}
.points_result {
  /* grid-row: 1/2; */
  grid-column: 4 / 5;
}
.main {
  grid-row: 2 / 7;
  grid-column: 1 / 8;
}
.container {
  grid-row: 3 / 4;
  grid-column: 3 / 6;
}

.logo{
  display: flex;
  justify-content: end;
}
.logo,
.title,
.points_snake,
.points_result,
.language,
.info {
  align-self: center;
}

h1,h2,h3,.rec{
  text-align: center;
}
h1{
  color: chocolate;
}
h2 {
  font-stretch: expanded;
  font-size: xx-large;
  color: rgba(48, 41, 107, 0.644);
}

.main {
  display: flex;
  justify-content: center;
}
.left,.right {
  padding-top: 40px;
}

span {
  background-color: rgba(222, 167, 135, 0.884);
  border: 1px solid black;
  border-radius: 50%;
}
.hed {
  height: 30px;
  width: 30px;
  margin-top: -6px;
}
.bod_2 {
  height: 26px;
  width: 26px;
  margin-top: -2px;
}
.bod_3 {
  height: 24px;
  width: 24px;
  margin-top: 5px;
}
.tail_2 {
  height: 22px;
  width: 22px;
  margin-top: 2px;
}
.tail {
  height: 18px;
  width: 18px;
  margin-top: -8px;
}
label, a {
  font-size: 20px;
  color: rgba(48, 41, 107, 0.644);
}
.container {
  position: relative;
  border: 4px solid rgba(70, 125, 151, 0.692);
  margin: 30px; 
  display: grid;
  grid-template: repeat(20, 20px) / repeat(20,20px);
  grid-auto-flow: row;
  width: 408px;
  height: 408px;
}
.kub {
  width: 20px;
  height: 20px;
  background-color: rgba(164, 182, 116, 0.918);
  transition: all .1s ease;
}
.kub_activ {
  background-color: rgba(48, 41, 107, 0.644);
  transition: all .2s ease;
}
.heads {
  background-color: brown;
}
.food {
  background-color: rgb(20, 136, 49);
}
.btnStart,
.btnStop,
.btnCont {
  display: block;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 28px;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius:  3px;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
}
#enter {
  margin-bottom: 10px;
  width: 100px;
  height: 28px;
  text-align: center;
  background-color: rgb(209, 201, 124);
  border: 1px solid black;
  font-size: 18px;
  font-family: 'Anton', sans-serif;
}
.btnStart:hover,
.btnCont:hover,
.btnStop:hover {
  background-color: rgb(224, 228, 166);
}
.btnStart:active, .btnStop:active {
  background-color: rgb(219, 175, 109);
  transition: all 0.5s;
}
.for_btn {
  position: relative;
}
.over {
  position: absolute;
  background-color: rgb(135, 190, 207);
  border: 2px solid black;
  border-radius:  5px;
  padding: 10px;
  width: 100%;
  top: 40%;
  left: 0;
  opacity: 0;
}
.over_active {
  animation-duration: 1.5s;
  animation-name: vizi;
  opacity: 1;
}
  @keyframes vizi {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

